<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="row">

    <div class="col-3">

    <div class="circle">
  
    <br />
  
    That
  
    <br />

  
San Francisco  
    <br />
  
    Life
  
  </div>


    </div>

    <div class="col-4 slogan">

      Splurting out unsolicited advice since 2016

      </div>

      <div class="col-5 links">

        <%= link_to 'Contribute', '#' %>

        <%= link_to 'About', '#' %>

      </div>

  </header>

  <hr />

  <br class="clear" />

  <div class="container">

    <%= yield %>

  </div>

  <div class="footer">
    
    <div class="container">
     
      <div class="row">

        <div class="col-6">

         <%= link_to "This is hilarious, show me another", "#", class: 'next-quote' %>

         </div>

        <div class="col-6 footer-blurb">

        Proudly hacked in San Francisco, CA by Veronica Matovich

            </div>

          </div>

        </div>

      </div>



  </body>

</html>
